@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.wrapper {
  @include rowing(center, center);
  @include sizes(140px, 140px);
  cursor: pointer;
  overflow: hidden;
  border-radius: $spacing-16;
  background-color: $color-white;
}

.thumbnail {
  @include sizes(100%, 100%);
  object-fit: cover;
}

.uploadArea {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tooltip {
  @include fonts($manroupe-font, $font-weight-400, $font-size-12);
  position: absolute;
  bottom: -$spacing-75;
  color: $color-gray4;
}

.editButton {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #8a2be2;
}