@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.btn {
  padding: $spacing-15 $spacing-90;
  border-radius: $spacing-12;
  border: none;
}

.masters {
  @include fonts($manroupe-font, $font-weight-300, $font-size-36, $color-black);
  margin-right: $spacing-75;
  background-color: $color-white;
}

.clients {
  @include fonts($manroupe-font, $font-weight-300, $font-size-36, $color-white);
  margin-left: $spacing-75;
  background-color: $color-purple3;
}

.searchBtn {
  @include rowing(null, center);
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-white);
  margin-right: $spacing-25;
  padding: $spacing-10 $spacing-25;
  border-radius: $spacing-10;
  background-color: $color-purple3;

  > span {
    padding-right: $spacing-10;
  }
}

.listBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-white);
  padding: $spacing-10 $spacing-25;
  border-radius: $spacing-10;
  background-color: $color-purple3;
}

.mapBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-18, $color-burgundy);
  padding: $spacing-10 $spacing-25;
  border: 1px solid $color-purple4;
  border-radius: $spacing-10;
  background-color: $color-white;
}

.listBtn, .mapBtn {
  margin-left: $spacing-55;
}

.bookBtn {
  @include fonts($manroupe-font, $font-weight-400, $font-size-16, $color-white);
  padding: $spacing-12 $spacing-65;
  margin-left: auto;
  border-radius: $spacing-10;
  background-color: $color-purple3;
}